	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fancybox/3.2.5/jquery.fancybox.min.css"/>

	<script src="https://cdnjs.cloudflare.com/ajax/libs/fancybox/3.2.5/jquery.fancybox.min.js"></script>

<div class="container-fluid">
		<div class="row">
          <%@movies.each do |movie|%>
					<div class="col-sm-6 col-lg-4 col-xl-3 col-xs-12 single_portfolio_text">
							<%= image_tag movie.poster_url %>
							<div class="portfolio_images_overlay text-center">
								<h6 class="clrd-font">
                  <%= movie.name%>
                </h6>
								<p class="clrd-font product_price"> <i class="fa fa-usd clrd-font" aria-hidden="true"></i> </p>
                <%= link_to "Book now", movie, class: "btn btn-primary" %>
							</div>
              <div>
                <%= movie.name %>
              </div>
							<span class="fancybox">
								<div class="zoom"></div>
							</span>
					</div>
          <%end%>
		</div>
	</div>